
.search-box {
	height: 45px;
	line-height: 45px;
	border: 1px solid #CCCCCC;
	padding: 0 10px;
}

.data-box {
	margin-top: 15px;
}

.data-box table {
	width: 100%;
	border: 1px solid #CCCCCC;
	font-weight: normal;
}
		
.data-box table th {
	height: 35px;
	line-height: 35px;
	color: #EEEEEE;
	background-color: #056CA2;
}

.data-box table td{
	border: 1px solid #CCCCCC;
	line-height: 30px;
}

.data-box table td p.desc {
	margin: 10px;
	font-size: 12px;
}

.data-box .small-size {
	font-size: 14px;
}

.data-box table td span.title {
	margin-left: 10px;
}


.page-box {
	margin-top: 15px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #CCCCCC;
	padding: 0 10px;
}

.post-title {
	height: 35px;
	line-height: 35px;
}
.post-category {
	height: 35px;
	line-height: 35px;
}
.post-content {
	margin-top: 10px;
}

.post-submit {
	margin-top: 10px;
	width: 960px;
	text-align: center;
}

.category-box {
	display:none;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#333333;
}

table.gridtable {
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	color: #000000;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}



